html,
body {
  padding: 0;
  margin: 0;
  font-family: Arial, Arial, Helvetica, sans-serif;
  font-size: 22px;
  background: white;
  -webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

h1,
h2,
p {
  margin: 0;
  font-weight: 100;
}

* {
  box-sizing: border-box;
}

::selection {
  background: black;
  color: white;
}

@font-face {
  font-family: "Office";
  font-style: normal;
  src: url(../public/fonts/OfficeTimesSharp-Regular.otf) format("opentype");
}

p {
  font-family: "Office";
  font-size: 40px;
  line-height: 50px;
  letter-spacing: -1px;
}

.swiper-wrapper {
  height: 100vh !important;
}

/* LANDING */

.landingWrapper {
  width: 100vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: white;
  padding: 0 20px;
}

.landingWrapper p {
  cursor: pointer;
}

/* PROJECTS */

.projectsWrapper {
  width: 100vw;
  height: 100vh;
}

.projectsDesktop {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}

.swiperSingle,
.swiperSingleAbout {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.swiperNav {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  z-index: 1000;
}

.swiperPrev,
.swiperNext {
  width: 50%;
  height: 100%;
}

.projectsMobile {
  display: none;
}

/* ABOUT */

.swiperWrapper {
  width: 100vw;
  height: 100vh;
}

.swiperSingle p,
.swiperSingleAbout p {
  padding: 0 10vw;
}

.swiperImageAbout {
  height: 100%;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiperImageSlideIn {
  height: 100%;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiperImageSlideIn img {
  transform: scale(60%);
}

.portraitImage {
  transform: scale(1.1);
}

/* .swiper-slide-active {
  z-index: 1000 !important;
} */

/* INFO */

.infoWrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.swiperSingle a,
.swiperSingleAbout a {
  font-family: "Office";
  font-size: 40px;
  line-height: 50px;
  letter-spacing: -1px;
  text-decoration: underline;
  text-underline-offset: 14px;
  text-decoration-thickness: 3px;
}

.swiper-pagination {
  width: 30vw !important;
  margin: 20px 35vw;
  display: flex;
  justify-content: space-between;
  z-index: 10000 !important;
}

.swiper-pagination-bullet {
  width: 1000px !important;
  border-radius: 10px !important;
  opacity: 1 !important;
  transition: all 0.5s ease;
  height: 2px !important;
}

.swiper-pagination-bullet-active {
  padding: 0 50px !important;
  background: black !important;
}

.workshopMobile {
  display: none;
}



@media screen and (max-width: 600px) {
  p {
    font-size: 23px;
    line-height: 27px;
    word-spacing: -2px;
    letter-spacing: 0;
  }

  /* PROJECTS */

  .projectsDesktop {
    display: none;
  }

  .projectsMobile {
    display: block;
    height: 100vh;
    width: 100%;
  }
  .projectsMobile :first-child {
    height: 100%;
  }

  .swiperImageSlideIn img{
    transform: scale(60%);
  }
  .swiperSingleAbout {
    height: 80%;
  }
  .swiperSingleAbout p {
    padding: 0 10px;
  }

  .swiper-pagination {
    width: 100vw !important;
    margin: 0;
    padding-bottom: 105px;
    display: flex;
    justify-content: space-between;
    z-index: 10000 !important;
  }

  .swiper-pagination-bullet {
    width: 1000px !important;
    border-radius: 10px !important;
    opacity: 1 !important;
    transition: all 0.5s ease;
    height: 2px !important;
  }

  .swiper-pagination-bullet-active {
    padding: 0 50px !important;
    background: black !important;
  }

  .workshopDesktop {
    display: none
  }

  .workshopMobile {
    display: block
  }
  .workshopTextWrapper {
    padding: 10px;
    text-align: center;
    display: flex;
    height: 80%;
    align-items: center;
  }
  #workshopPagination {
    transform: translateY(38px)
  }
  .infoPagination {
    position: fixed;
    bottom: 38px;
    width: calc(100vw - 10px);
    height: 2px;
    border-radius: 20px;
    background: black;
    margin-left: 5px;
  }
  .swiperImageAbout {
    height: 70%;

  }
  
  .swiperImageSlideIn {
    height: 70vh;

  }
}
