.navWrapper {
  position: fixed;
  top: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  z-index: 100;
  color: white;
  mix-blend-mode: difference;
}

.navMobileWrapper {
  display: none;
}

.navLink::before {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform: scaleX(0) translateY(26px);
  transition: transform 0.3s ease;
}

.navLink:hover::before {
  transform: scaleX(1) translateY(26px);
}

.navLinkActive::before {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform: translateY(26px);
  transition: transform 0.3s ease;
}

.navOuter {
  display: flex;
  justify-content: space-between;
}

.navOuter,
.navInner {
  position: absolute;
  transition: all 0.5s ease;
}

.navInner {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.navInner span, .navOuter span {
  cursor: pointer;
}

.navBottom {
  position: fixed;
  bottom: 20px;
  display: flex;
  width: 100%;
  z-index: 100;
  color: white;
  mix-blend-mode: difference;
}

.navBottomInner {
  width: 50%;
  text-align: center;
}

.navInnerMobile {
  display: none
}

.navConcept {
  font-family: "office";
  line-height: 22.5px;
}

.navImpressum {
  font-family: "office";
  cursor: pointer;
  transform: translateY(-4px);
  transition: opacity 0.5s ease
}

.active {
  border-bottom: 2px solid white;
  cursor: pointer;
}

.passive {
  cursor: pointer;
}

.copyright {
  font-family: "office";
  cursor: default;
}

@keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}

@media screen and (max-width: 600px) {
  .navWrapper {
    display: none;
  }
  .navMobileWrapper {
    position: fixed;
    bottom: 10px;
    width: 100vw;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    z-index: 100;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0;
  }

  .navMobileOuter {
    width: 100%;
    display: flex;
    padding: 0 12px;
    justify-content: space-between;
    transition: all 0.5s ease;
    z-index: 5000;
    font-size: 23px;
    line-height: 27px;
  }

  .navBottom {
    bottom: unset;
    top: 10px;
    font-size: 15px;
    padding: 0 12px;
    justify-content: space-between;

  }
  .navBottomInner {
    width: unset;
  }
  .navInnerMobile {
    display: inherit;
    text-align: center;
    position: fixed;
    top: unset;
    bottom: 0;
    opacity: 0;
    padding-top: 5px;
    padding-bottom: 40px;
    width: 100%;
    font-size: 30px;
    line-height: 30px;
    /* background: white; */
    animation: fadeIn 1s ease;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    z-index: 50;

  }

  .navMobileConcept {
    font-family: "office";
    line-height: 24px;
  }
  .navLink::before {
    content: "";
    position: relative;
    display: block;
    width: 0;
    height: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    transform: scaleX(0) translateY(37px);
    transition: transform 0.3s ease;
  }
  .navLink:hover::before {
    transform: scaleX(1) translateY(37px);
  }
  .navImpressum {
    transform: translateY(0px);
  }
}
